.t-a {
  &-c {
    text-align: center;
  }

  &-r {
    text-align: right;
  }

  &-l {
    text-align: left;
  }
}

.pos {
  &-r {
    position: relative;
  }
}

.w-s {
  &-nw {
    white-space: nowrap;
  }
}

.u-s {
  &-n {
    user-select: none;
  }
}

.flex-block {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.a-i {
    &-c {
      align-items: center;
    }

    &-e {
      align-items: flex-end;
    }

    &-b {
      align-items: baseline;
    }

    &-s {
      align-items: flex-start;
    }
  }

  &.j-c {
    &-c {
      justify-content: center;
    }

    &-e {
      justify-content: flex-end;
    }

    &-s {
      justify-content: flex-start;
    }

    &-b {
      justify-content: baseline;
    }

    &-s-b {
      justify-content: space-between;
    }

    &-s-a {
      justify-content: space-around;
    }
  }
}
