.add-photo-btn {
  position: relative;
  display: block;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 3.1875rem;
  height: 3.1875rem;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0.75rem rgb(0 0 0 / 12%);
  color: #c7c7c7;
  position: absolute;
  right: -1.5625rem;
  top: -1.25rem;
  font-size: 1.375rem;
  z-index: 11;
  cursor: pointer;
  transform: translateZ(0);

  &:hover {
    box-shadow: 0 0 0.75rem rgb(0 0 0 / 20%);
    color: #aeaeae;
  }

  &__plus {
    position: absolute;
    top: 0.625rem;
    left: 0.065rem;
    font-size: 1.065rem;
    border: 2px solid grey;
    border-radius: 85%;
    width: 0.94rem;
    height: 0.94rem;
    color: gray;
  }
}
