$placeholder-grey: #808080;
$fill-black: #484848;

$menu-dark-grey: #373c45;
$menu-middle-grey: #55585e;
$menu-light-grey: #8a8c91;

$template-violet2: #63677c;
$template-navy2: #031635;
$template-navy: #1f497d;
$template-blue: #3596f3;
$template-blue2: #8eb9eb;
$template-violet: #6967ba;
$template-green: #4cab96;
$template-ochre: #b8b79a;
