.info-block-header {
  display: flex;
  align-items: center;
  color: var(--main-color);

  &__icon {
    padding: 1.125rem 0.3125rem 0.875rem;
    font-size: 1.25rem;
    line-height: 1;
    margin: 0 -0.1875rem 0 0;
    width: 3.125rem;
    text-align: center;
    color: var(--main-color);
  }

  &__title {
    font-size: 1.5rem;
    line-height: 2.0625rem;
    color: #3596f3;
    font-weight: normal;
    margin: 0;
    padding: 0.625rem 0.1875rem;
  }
}
