.date-range-picker {
  &__date-value {
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    transition: color 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #959595;
    }
  }

  .mat-card {
    padding: 0.5rem;
  }

  &__calendar {
    width: 14.375rem;

    .present-checbox {
      display: flex;
      justify-content: space-between;
      padding: 0.625rem;
      background-color: #e6e6e6;
      border-radius: 0.315rem;
      margin-bottom: 0.625rem;
      margin-top: 0.625rem;
      position: relative;

      span {
        line-height: 1.5rem;
      }
    }
  }
}
