<div class="left-menu">
  <button
    *ngFor="let button of menuItems; let idx = index"
    class="left-menu__button"
    [ngClass]="{
      active: idx == currentActiveIndex,
      notEditMode: !isEditMode,
      'before-active':
        currentActiveIndex != null && idx == currentActiveIndex - 1,
      'after-active':
        currentActiveIndex != null && idx == currentActiveIndex + 1
    }"
    [class.active]="idx == currentActiveIndex"
    [class.notEditMode]="!isEditMode"
    [matTooltip]="button.tooltip"
    [matTooltipDisabled]="isEditMode"
    [matTooltipPosition]="'right'"
    matTooltipClass="left-menu-tooltip"
    (click)="handleOpenSubMenu($event, idx)"
  >
    <div class="left-menu__button--icon">
      <ng-container [ngComponentOutlet]="button.iconComponent"></ng-container>
    </div>
  </button>
  <div
    class="left-menu__after-buttons"
    [class.after-active]="currentActiveIndex == menuItems.length - 1"
  ></div>
</div>

<div
  *ngIf="isEditMode"
  class="left-sub-menu"
  appBackDrop
  (clickOutside)="handleCloseEditMode()"
>
  <ng-container [ngSwitch]="currentActiveIndex">
    <ng-container
      *ngSwitchCase="MENU_ITEMS.template"
      [ngTemplateOutlet]="templates"
    ></ng-container>
    <ng-container
      *ngSwitchCase="MENU_ITEMS.styles"
      [ngTemplateOutlet]="styles"
    ></ng-container>
    <ng-container
      *ngSwitchCase="MENU_ITEMS.addSection"
      [ngTemplateOutlet]="addSection"
    ></ng-container>
  </ng-container>
</div>

<ng-template #templates>
  <p class="left-sub-menu__title">Choose template</p>
</ng-template>

<ng-template #styles>
  <p class="left-sub-menu__title">Colors</p>
  <div class="colors-list">
    <button
      #colorBtnRef
      *ngFor="let color of colorsList"
      class="colors-list__item"
      [class]="[color]"
      [class.active]="color == currentColorItemName"
      (click)="handleChangeColor(color)"
    ></button>
  </div>
  <p class="left-sub-menu__title">Fonts</p>
  <div class="fonts-list">
    <button
      *ngFor="let font of fontsList"
      class="square-btn fonts-list__item"
      [style]="{ 'font-family': font }"
      [class.active]="font == currentFontItemName"
      (click)="handleChangeFont(font)"
    >
      {{ font }}
    </button>
  </div>
</ng-template>

<ng-template #addSection>
  <p class="left-sub-menu__title">Add section</p>
  <app-drop-down-menu #menu></app-drop-down-menu>
</ng-template>
