@import "core/mixins";
@import "core/variables";

:host {
  display: flex;
  min-height: 100vh;

  .left-menu {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60px;
    background-color: $menu-middle-grey;

    @include bp-1024 {
      width: 40px;
    }

    .left-menu__button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      height: 90px;
      width: 100%;
      transition: 0.2s;
      background-color: $menu-dark-grey;

      &.notEditMode {
        &:not(:last-child) {
          border-bottom: 3px solid $menu-light-grey;
        }
      }

      &:hover {
        background: $menu-middle-grey;

        .left-menu__button--icon ::ng-deep svg {
          fill: #55a3df;

          path {
            fill: #55a3df;
          }
        }
      }

      &.active {
        background: $menu-middle-grey;
      }

      @include bp-1024 {
        height: 60px;
      }

      &--icon {
        max-width: 30px;
        transition: 0.2s;

        @include bp-1024 {
          width: 20px;
        }
      }
    }

    &__after-buttons {
      height: 100%;
      background-color: $menu-dark-grey;
    }

    .before-active {
      border-bottom-right-radius: 5px;
    }

    .after-active {
      border-top-right-radius: 5px;
    }
  }

  .left-sub-menu {
    width: 230px;
    height: 100%;
    background-color: $menu-middle-grey;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 12px;

    &__title {
      color: white;
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      line-height: 55px;
    }

    .colors-list {
      width: 170px;
      margin-left: auto;
      margin-right: auto;
      padding: 10px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;

      &__item {
        width: 30px;
        height: 30px;
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 50%;
        transition: all 0.2s ease-in-out;

        &:hover {
          transform: scale(1.1);
        }

        &.active {
          border: 2px solid #fff;
          transform: none;
        }

        &.violet2 {
          background-color: $template-violet2;
        }
        &.navy2 {
          background-color: $template-navy2;
        }
        &.navy {
          background-color: $template-navy;
        }
        &.blue {
          background-color: $template-blue;
        }
        &.blue2 {
          background-color: $template-blue2;
        }
        &.violet {
          background-color: $template-violet;
        }
        &.green {
          background-color: $template-green;
        }
        &.ochre {
          background-color: $template-ochre;
        }
      }
    }

    .square-btn {
      width: 100%;
      height: 40px;
      font-size: 14px;
      line-height: 40px;
      padding-left: 20px;
      margin: 5px auto;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgb(0 0 0 / 30%);
      transition: all 200ms ease-in-out;
      cursor: pointer;
      background: #373c45;
      border: none;
      text-align: left;
      color: #dcdcdc;

      &:hover {
        box-shadow: 0 6px 18px rgb(0 0 0 / 30%);
      }
    }

    .fonts-list {
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;

      &__item {
        &.active {
          color: #55aef2;
        }
      }
    }

    .add-section-btn {
      &.active {
        height: 100%;
      }
    }
  }
}
