<div class="info-block-body">
  <div class="info-block-body__item">
    <div class="row row-title">
      <fa-icon class="row__icon" [icon]="checkIcon"></fa-icon>

      <p
        appFictiveInput
        [class.filled]="data.data.summary.length"
        [textContent]="data.data.summary"
        [fictivePlaceholder]="
          '3 meaningful sentences, an overview of your career. State your strengths and professional focus.'
        "
        (input)="handleChangeValue($event)"
      ></p>
    </div>
  </div>
</div>
