.smart-rating {
  padding: 0.15625rem 0;
  flex-shrink: 0;
  display: inline-block;
  box-sizing: border-box;

  li {
    position: relative;
    transition: transform 0.3s ease-out;
    float: left;
    margin: 0 0.3125rem 0 0;
    padding-left: 0.125rem;
    font-size: 0.9375rem;
    line-height: 1.1875rem;
    cursor: pointer;
    list-style: none;

    i {
      display: inline-block;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      font-size: 0.875rem;
      line-height: 1;
      text-rendering: auto;
      font-size: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 1rem;
      height: 1rem;
      border: 2px solid var(--main-color);
      border-radius: 50%;
    }

    &.active {
      i {
        background-color: var(--main-color);
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
