.info-block-body {
  padding: 0.3125rem 0.3125rem 0.3125rem 1.5625rem;
  border-left: 0.125rem solid #3596f3;
  margin: 0 0 0 1.8125rem;
  line-height: 1.1875rem;
  transition: border-color 0.2s ease-in-out, color 0.2s ease-in-out,
    background 0.2s ease-in-out;

  &__item {
    position: relative;
    color: #808080;
    padding-top: 0.25rem;
    padding-bottom: 0.2rem;

    .row {
      padding: 0.1875rem 0;

      p {
        word-break: break-all;

        &.filled {
          color: #484848;
        }
      }

      &__date {
        float: right;
        margin-left: auto;
        max-width: 44%;
        padding: 0 0 0.1875rem 1.5625rem;
        margin-bottom: -0.3125rem;
        color: #484848;
      }

      &__delete-btn {
        left: -4rem;
        position: absolute;
      }

      &__icon {
        position: absolute;
        top: 0.675rem;
        left: -2.05rem;
        line-height: 1rem;
        color: #3596f3;
        display: block;
        border-radius: 50%;
        text-align: center;
        background: #fff;
      }
    }

    .row-title {
      outline: none;
      word-wrap: break-word;

      min-height: 1.1875rem;
      min-width: 0.625rem;

      p {
        &.title {
          font-weight: bolder;
        }
      }
    }
  }

  app-add-btn {
    display: block;
    padding-top: 1rem;
  }

  &.skill {
    border-left: none;
    padding-left: 0.3625rem;

    .info-block-body__item {
      padding: 0;

      .row {
        display: flex;
        justify-content: space-between;

        &__delete-btn {
          left: -2.6rem;
        }
      }
    }

    app-add-btn {
      margin-left: -2.6rem;
    }
  }
}
