<div
  class="contacts-wrapper"
  appBackDrop
  (click)="handleOpenEditMode()"
  (clickOutside)="isEditMode = false"
>
  <div class="contacts">
    <hr class="m-bottom-5" />

    <div class="contacts__list">
      <div
        *ngFor="let contact of contactsList; let idx = index"
        class="contacts__list--item"
      >
        <button
          *ngIf="isEditMode"
          class="delete-btn"
          (click)="handleDelete(idx, $event)"
        >
          <app-close-iocn></app-close-iocn>
        </button>

        <app-dropdown-icons
          role="button"
          [isEditMode]="isEditMode"
          [currentType]="contact.type"
          (changeIcon)="handleChageIcon(idx, $event)"
        ></app-dropdown-icons>

        <p
          appFictiveInput
          [fictivePlaceholder]="'Contact details'"
          [value]="contact.value"
          [innerHtml]="contact.value"
          (input)="handleChangeName(idx, $event)"
        ></p>
      </div>
    </div>
    <div *ngIf="isEditMode" class="add-contact">
      <app-add-btn
        [disabled]="data.items.length >= 8"
        [isDarker]="true"
        (click)="data.items.length < 8 ? handleAddContact($event) : null"
      ></app-add-btn>
    </div>

    <hr class="m-top-5" />
  </div>
</div>
