<div class="contacts-wrapper">
  <hr class="m-bottom-5" />
  <div class="contacts" appBackDrop (clickOutside)="isEditMode = false">
    <div class="contacts-list" (click)="handleOpenEditMode($event)">
      <div
        *ngFor="let contact of contactsList; let idx = index"
        class="contacts-list__item"
      >
        <button
          *ngIf="isEditMode"
          class="delete-btn"
          (click)="handleDelete(idx, $event)"
        >
          <app-close-iocn></app-close-iocn>
        </button>

        <app-dropdown-icons
          role="button"
          [isEditMode]="isEditMode"
          [currentIcon]="contact.icon"
          (changeIcon)="handleChageIcon(idx, $event)"
        ></app-dropdown-icons>

        <p
          appFictiveInput
          [fictivePlaceholder]="'Contact details'"
          [textContent]="contact.text"
          (input)="handleChangeName(idx, $event)"
        ></p>
      </div>
    </div>
    <div *ngIf="isEditMode" class="add-contact">
      <app-add-btn
        [disabled]="contactsList.length >= 8"
        [isDarker]="true"
        (click)="contactsList.length < 8 ? handleAddContact($event) : null"
      ></app-add-btn>
    </div>
  </div>
  <hr class="m-top-5" />
</div>
