<div class="info-block-body without-check-line">
  <div class="circles">
    <div
      *ngFor="let item of competenceList; let idx = index"
      class="circles__item"
    >
      <button
        *ngIf="isEditMode"
        class="delete-btn"
        [class.top]="idx % 2 != 1"
        [class.bottom]="idx % 2 == 1"
        (click)="handleDelete($event)"
      >
        <app-close-iocn></app-close-iocn>
      </button>
      <span class="data">
        <span
          class="data__text"
          appFictiveInput
          [innerHtml]="item.name"
          [isWhiteText]="true"
          [fictivePlaceholder]="'Sphere (e.g marketing)'"
          (input)="handleChangeValue(idx, $event)"
        ></span>
      </span>
    </div>
  </div>

  <app-add-btn
    *ngIf="isEditMode"
    [disabled]="competenceList.length > 3"
    (click)="handleAddItem()"
  ></app-add-btn>
</div>
