<div class="info-block-body">
  <ng-container *ngFor="let item of data.data.items; let idx = index">
    <div class="info-block-body__item">
      <div class="row row-title">
        <button
          *ngIf="isEditMode"
          class="delete-btn row__delete-btn"
          (click)="handleDelete(idx, $event)"
        >
          <app-close-iocn></app-close-iocn>
        </button>
        <fa-icon class="row__icon" [icon]="checkIcon"></fa-icon>

        <div class="row__date">
          <app-data-range-picker
            [propsToDate]="item.date"
            [isOnlyYear]="true"
            [isOnlyEndDate]="true"
            (dateChange)="handlePeriodChange(idx, $event)"
          ></app-data-range-picker>
        </div>
        <p
          appFictiveInput
          [class.filled]="item.description"
          [textContent]="item.description"
          [fictivePlaceholder]="
            'List professional growth programs (courses, certificates) and awards here'
          "
          (input)="handleChangeValue(idx, 'description', $event)"
        ></p>
      </div>
    </div>
  </ng-container>
  <app-add-btn *ngIf="isEditMode" (click)="handleAddItem()"></app-add-btn>
</div>
