<div class="smart-template">
  <div class="edit-overlay" [class.active]="!!currentEdditedBlock"></div>
  <app-a4-wrapper *ngFor="let sheet of sheets; let idx = index">
    <app-smart-template-header
      *ngIf="idx == 0"
      [data]="resume.head"
      (onChangeHeadInfo)="handleChangeHeadInfo($event)"
      (onChangeEditMode)="setCurrentEditedBlock('head', $event)"
    ></app-smart-template-header>
    <app-smart-contacts-list
      *ngIf="idx == 0"
      [data]="resume.contacts"
      (onChangeContacts)="handleChangeContacts($event)"
      (onChangeEditMode)="setCurrentEditedBlock('contacts', $event)"
    ></app-smart-contacts-list>
    <div class="smart-template__body">
      <div class="smart-template__body--left">
        <ng-container
          *ngFor="
            let key of sheet.main;
            let first = first;
            let last = last;
            let idx = index
          "
        >
          <app-info-block-wrapper
            [contextForHimself]="infoBlockContent"
            [isFirst]="first"
            [isLast]="last"
            (onMoveBlockUp)="handleMoveBlockUp(idx, 'main')"
            (onMoveBlockDown)="handleMoveBlockDown(idx, 'main')"
            (onDeleteBlock)="handleDeleteBlock(idx, 'main')"
            (onChangeEditMode)="setCurrentEditedBlock(key, $event)"
          >
            <ng-template #infoBlockContent let-isEditMode="isEditMode">
              <app-info-block
                [infoBlock]="infoBlocks[key]"
                [isEditMode]="isEditMode"
                (blockChange)="handleSetBlockChanges($event, key)"
              ></app-info-block>
            </ng-template>
          </app-info-block-wrapper>
        </ng-container>
        <div
          class="checking-block"
          checkNoHeigh
          (onRanOutOfSpace)="handdleAllocateBlocksInSheets('main', idx)"
        ></div>
      </div>

      <div class="smart-template__body--right">
        <ng-container
          *ngFor="
            let key of sheet.right;
            let first = first;
            let last = last;
            let idx = index
          "
        >
          <app-info-block-wrapper
            [contextForHimself]="infoBlockContent"
            [isFirst]="first"
            [isLast]="last"
            (onMoveBlockUp)="handleMoveBlockUp(idx, 'right')"
            (onMoveBlockDown)="handleMoveBlockDown(idx, 'right')"
            (onDeleteBlock)="handleDeleteBlock(idx, 'right')"
            (onChangeEditMode)="setCurrentEditedBlock(key, $event)"
          >
            <ng-template #infoBlockContent let-isEditMode="isEditMode">
              <app-info-block
                [infoBlock]="infoBlocks[key]"
                [isEditMode]="isEditMode"
                (blockChange)="handleSetBlockChanges($event, key)"
              ></app-info-block>
            </ng-template>
          </app-info-block-wrapper>
        </ng-container>
        <div
          class="checking-block"
          checkNoHeigh
          (onRanOutOfSpace)="handdleAllocateBlocksInSheets('right', idx)"
        ></div>
      </div>
    </div>
  </app-a4-wrapper>
</div>
