<div class="smart-template">
  <div class="edit-overlay" [class.active]="!!currentEdditedBlockKey"></div>
  <app-a4-wrapper *ngFor="let sheet of sheets; let sheetIndex = index">
    <app-smart-template-header
      *ngIf="sheetIndex == 0"
      [data]="resume.head"
      (onChangeHeadInfo)="handleChangeHeadInfo($event)"
      (onChangeEditMode)="setCurrentEditedBlock('head', $event)"
    ></app-smart-template-header>
    <app-smart-contacts-list
      *ngIf="sheetIndex == 0"
      [data]="resume.contacts"
      (onChangeContacts)="handleChangeContacts($event)"
      (onChangeEditMode)="setCurrentEditedBlock('contacts', $event)"
    ></app-smart-contacts-list>
    <div class="smart-template__body">
      <div class="smart-template__body--left">
        <ng-container
          *ngFor="
            let key of sheet.main;
            let first = first;
            let last = last;
            let blockIndex = index
          "
        >
          <app-info-block-wrapper
            [contextForHimself]="infoBlockContent"
            [isFirst]="first"
            [isLast]="last"
            (onMoveBlockUp)="handleMoveBlockUp(blockIndex, sheetIndex, 'main')"
            (onMoveBlockDown)="
              handleMoveBlockDown(blockIndex, sheetIndex, 'main')
            "
            (onDeleteBlock)="handleDeleteBlock(blockIndex, sheetIndex, 'main')"
            (onChangeEditMode)="setCurrentEditedBlock(key, $event)"
          >
            <ng-template #infoBlockContent let-isEditMode="isEditMode">
              <app-info-block
                [infoBlock]="infoBlocks[key]"
                [isEditMode]="isEditMode"
                (blockChange)="handleSetBlockChanges($event, key)"
              ></app-info-block>
            </ng-template>
          </app-info-block-wrapper>
        </ng-container>
        <div
          class="checking-block"
          checkNoHeigh
          (onRanOutOfSpace)="handdleAllocateBlocksInSheets('main', sheetIndex)"
        ></div>
      </div>

      <div class="smart-template__body--right">
        <ng-container
          *ngFor="
            let key of sheet.right;
            let first = first;
            let last = last;
            let blockIndex = index
          "
        >
          <app-info-block-wrapper
            [contextForHimself]="infoBlockContent"
            [isFirst]="first && !!!sheets[sheetIndex - 1]"
            [isLast]="last && !!!sheets[sheetIndex + 1]"
            [isEditMode]="currentEdditedBlockKey == key"
            (onMoveBlockUp)="handleMoveBlockUp(blockIndex, sheetIndex, 'right')"
            (onMoveBlockDown)="
              handleMoveBlockDown(blockIndex, sheetIndex, 'right')
            "
            (onDeleteBlock)="handleDeleteBlock(blockIndex, sheetIndex, 'right')"
            (onChangeEditMode)="setCurrentEditedBlock(key, $event)"
          >
            <ng-template #infoBlockContent let-isEditMode="isEditMode">
              <app-info-block
                [infoBlock]="infoBlocks[key]"
                [isEditMode]="isEditMode || currentEdditedBlockKey == key"
                (blockChange)="handleSetBlockChanges($event, key)"
              ></app-info-block>
            </ng-template>
          </app-info-block-wrapper>
        </ng-container>
        <div
          class="checking-block"
          checkNoHeigh
          (onRanOutOfSpace)="handdleAllocateBlocksInSheets('right', sheetIndex)"
        ></div>
      </div>
    </div>
  </app-a4-wrapper>
</div>
