.smart-template {
  font-family: var(--main-font);
  font-size: 0.9375rem;
  line-height: 1.1875rem;
  transition: border-color 0.1s ease-in-out;

  &__body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.625rem 0.625rem 0;

    &--left {
      width: 59%;
    }

    &--right {
      width: 39%;
    }
  }
}
