<div class="date-range-picker">
  <span
    *ngIf="!isOnlyEndDate"
    class="date-range-picker__date-value"
    role="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="isDatePickerFromOpen = !isDatePickerFromOpen"
  >
    {{ isOnlyYear ? (fromDate | date: "YYYY") : (fromDate | date: "MM/YYYY") }}
  </span>
  {{ !isOnlyEndDate ? " - " : "" }}
  <span
    class="date-range-picker__date-value"
    role="button"
    cdkOverlayOrigin
    #trigger="cdkOverlayOrigin"
    (click)="isDatePickerToOpen = !isDatePickerToOpen"
  >
    {{
      isToDatePrecent
        ? "precent"
        : isOnlyYear
        ? (toDate | date: "YYYY")
        : (toDate | date: "MM/YYYY")
    }}
  </span>

  <ng-template
    *ngIf="!isOnlyEndDate"
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isDatePickerFromOpen"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isDatePickerFromOpen = false"
  >
    <div class="date-range-picker__calendar">
      <mat-card>
        <mat-calendar
          class="mat-calendar"
          startView="multi-year"
          endView="multi-month"
          [selected]="fromDate"
          [maxDate]="toDate"
          [minDate]="oldestDate"
          (yearSelected)="handleSetDate($event, 'from', 'year')"
          (monthSelected)="handleSetDate($event, 'from', 'month')"
          (backdropClick)="isDatePickerFromOpen = false"
        ></mat-calendar>
      </mat-card>
    </div>
  </ng-template>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isDatePickerToOpen"
    [cdkConnectedOverlayBackdropClass]="'cdk-overlay-transparent-backdrop'"
    [cdkConnectedOverlayHasBackdrop]="true"
    (backdropClick)="isDatePickerToOpen = false"
  >
    <div class="date-range-picker__calendar">
      <mat-card>
        <mat-calendar
          class="mat-calendar"
          startView="multi-year"
          endView="multi-month"
          [class.disabled]="isToDatePrecent"
          [selected]="toDate"
          [maxDate]="todayDate"
          [minDate]="isOnlyEndDate ? oldestDate : fromDate"
          (yearSelected)="handleSetDate($event, 'to', 'year')"
          (monthSelected)="handleSetDate($event, 'to', 'month')"
          (backdropClick)="isDatePickerFromOpen = false"
        ></mat-calendar>

        <div *ngIf="!isOnlyEndDate" class="present-checbox">
          <span>present</span>
          <mat-slide-toggle
            [checked]="isToDatePrecent"
            [color]="checkBoxColor"
            (change)="handleSetPercentData($event.checked)"
          >
          </mat-slide-toggle>
        </div>
      </mat-card>
    </div>
  </ng-template>
</div>
