.mat-form-field {
  display: block !important;
}

.mat-form-field-appearance-fill .mat-form-field-subscript-wrapper {
  display: none !important;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.mat-form-field-prefix,
.mat-form-field-suffix {
  display: none !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex,
.mat-form-field-infix {
  padding: 0 !important;
  border-top: 0 !important;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: transparent !important;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-calendar-header {
  padding: 0 !important;
}

.mat-focus-indicator.mat-calendar-period-button.mat-button.mat-button-base {
  pointer-events: none !important;
  cursor: auto !important;

  .mat-calendar-arrow.mat-calendar-invert {
    display: none;
  }
}

.mat-calendar-controls {
  margin: 0 !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border: none !important;
}

.mat-calendar-body-today.mat-calendar-body-selected,
.mat-calendar-body-cell-content.mat-focus-indicator {
  box-shadow: none !important;
}

.disabled {
  .mat-calendar-body-cell-content.mat-focus-indicator {
    color: rgba(0, 0, 0, 0.38) !important;
    pointer-events: none !important;
  }

  .mat-calendar-body-cell {
    pointer-events: none !important;
  }

  .mat-calendar-body-selected {
    background-color: transparent !important;
  }
}
