.fictive-input {
  margin-right: auto;

  &[contenteditable="true"]:empty:not(:focus-within):before {
    pointer-events: none;
    display: block; /* For Firefox */
    content: var(--placeholder);
  }
}
