<div class="smart-template">
  <app-a4-wrapper>
    <app-smart-template-header></app-smart-template-header>
    <app-smart-contacts-list></app-smart-contacts-list>
    <div class="smart-template__body">
      <app-info-block-wrapper [refToHimself]="infoBlockContent">
        <ng-template #infoBlockContent let-isEditMode="isEditMode">
          <app-info-block-head></app-info-block-head>
          <app-info-block-body [isEditMode]="isEditMode"></app-info-block-body>
        </ng-template>
      </app-info-block-wrapper>
    </div>
  </app-a4-wrapper>
</div>
