@import "~normalize.css";
@import "styles/_main";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "core/mixins.scss";
@import "core/variables.scss";

:root {
  --main-color: #3596f3;
  --btn-color: #1b87f1;
  --btn-hover-color: #0d6dcc;
  --dark-btn-color: #2253c8;
  --dark-btn-hover-color: #1b419c;
  --main-font: Cambria;
}

* {
  box-sizing: border-box;
}

html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  @include bp-1100 {
    font-size: calc(100vw / 69);
  }

  @include bp-768 {
    font-size: calc(100vw / 72);
  }
}

html,
body {
  min-height: 100vh;
  touch-action: pan-y;

  font-weight: 400;
}

html {
  overflow-x: hidden;
}

body {
  position: relative;
  background-color: #eeeff0;
}

body {
  color: #484848;
}

hr,
p {
  padding: 0;
  margin: 0;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  all: unset;
}

[contenteditable] {
  outline: 0px solid transparent;
}
